@import "tailwindcss";

@layer components {
  .auth-head {
   font-size: var(--text-3xl) /* 1.875rem = 30px */;
    line-height: var(--tw-leading, var(--text-3xl--line-height) /* calc(2.25 / 1.875) ≈ 1.2 */);
  }
  .icon-style {
    color: #6b7280;
  }
}

@layer utilities {
  .icon-size {
    width: 20px;
    height: 20px;
  }
}
